<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="css/style.css">
    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/noframework.waypoints.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>

    <title>How To Reduce Carbon Emissions</title>
</head>
<body>
    <h1 class="main-header">HOW TO REDUCE CARBON EMISSIONS</h1>
    <main>
        <div class="text-wrapper">
            <h3>Click an icon to learn about reducing carbon emissions</h3>
          </div>
        <section id="beer1">
          <div class="label_wrapper">
            <h1 class="hidden">Carbon Reduction</h1>
            <object data="images/earth.svg" type="image/svg+xml" class="svg-graphic" id="bottle"></object>
            <div id="buttons">
            <span class="see-more" id="ac" data-target="1"></span>
            <span class="see-more" id="wt" data-target="2"></span>
            <span class="see-more" id="fw" data-target="3"></span>
            <span class="see-more" id="tf" data-target="4"></span>
            <span class="see-more" id="eg" data-target="5"></span>
          </div>
          </div>
        </section>

        <section id="beer2">
        </section>

        <section id="beer3">
        </section>

        <article class="popover">
          <div>
          <h4 class="method"></h4>
          <div class="savings"></div>
        </div>
          <img class="graphic" src="" alt="">
        </article>
    </main>
    <script src="js/main.js"></script>
</body>
</html>