.hidden { display: none; }

@font-face {
  font-family: 'TheBoldFont';
  src: url('theboldfont.ttf') format('truetype');
}

h4{
  font-family: 'TheBoldFont';
  src: url('theboldfont.ttf') format('truetype');
  font-size: 30px;
  
}

body { 
  background-color: #002C3A; 
  color: #C7E2B3; 
  font-size: 14px; 
}

.buffer { 
  min-height: 100vh 
}

main { 
  padding: 40px; 
}

section { 
  margin-bottom: 100px; 
  color: white; 
}

section > div:not(.text-wrapper) {
  width: 30%; 


  padding: 20px;
  position: relative;
}

.text-wrapper {

  vertical-align: top;
  margin-left: 30px;
  width: 65%;
}

section h3 {

  color: #C7E2B3;
  font-family: 'brewery', sans-serif;
  font-size: 1rem;
  margin-bottom: 0
}
section p { 
  color: black; 
  width: 70%; 
  font-size: 1.25rem; 
}

.svg-graphic { 
  width: 400px; 
}

.main-header {
  margin: 20px 0 0 40px; 
  font-size: 2rem;
  font-family: "brewery", sans-serif;
}

.beer-info { 
  display: inline-block; 
  vertical-align: top; 
  padding: 30px; 
  border: thin solid white; 
}

p > span { 
  display: block; 
  padding-bottom: 12px; 
}

.popover { 
  display: none;
  position: absolute;
  top: 18%;
  left: 130%;
  background-color: #C7E2B3;
  width: 130%;
  height: 80%;
  z-index: 1;
  border-radius: 8px;
  padding: 4px;
}

.show-popover { 
  display: flex; 
  flex-direction: row;
}

.close{
   display: block;
   right: 0;
}

.method{
  margin-left: 20px;
}

.savings{
  width: 60%;
  font-size: 16px;
  margin-left: 20px;

}

.see-more { 
  display: flex; 
  width: 70px;
  height:70px; 
  color: white; 
  margin-top: 8px
}

.graphic{
  width: 40%;
  margin-left: auto;
}

#ac{
  background: url('../images/button1.svg');
}

#wt{
  background: url('../images/button2.svg');
}

#fw{
  background: url('../images/button3.svg');
}

#tf{
  background: url('../images/button4.svg');
}

#eg{
  background: url('../images/button5.svg');
}

#buttons{
  margin-top: -380px;
  margin-left: 450px;
}
